span.castle {
    font-size:    1.5em;
    font-style:   bold;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:      #333;
    margin-right: 5px;
}

span.description {
    font-style: italic;
    color:    #ccc;
}

img.badge {
    width:          30px;
    height:         auto;
    vertical-align: middle;
}