app:         got-svc
replicaCount: 1
image:
  repository: quay.io/derailed/got
  tag:        0.0.5
  pullPolicy: Always
service:
  host:         got-svc
  name:         api
  type:         NodePort
  externalPort: 30405
  internalPort: 4000
resources: {}
database:
  user: changeme
  pwd:  changeme
  name: got
  host: got-postgresql
  port: 5432
phoenix:
  key: changeme