export GOT_PG_DB="got"
export GOT_PG_USER="fernand"
export GOT_PG_PWD="Blee!"
export GOT_PG_HOST=`minikube ip`
export GOT_PG_PORT=`kubectl get svc pg-postgresql -o jsonpath='{.spec.ports[0].nodePort}'`