apiVersion: v1
kind:       Secret
metadata:
  name: got-secrets
type: Opaque
data:
  db-user: {{ .Values.database.user | b64enc | quote }}
  db-pwd:  {{ .Values.database.pwd | b64enc | quote }}
  phx-key: {{ .Values.phoenix.key | b64enc | quote }}