export GOT_DB_NAME="got"
export GOT_DB_USER="fernand"
export GOT_DB_PWD="Blee!"
export GOT_DB_HOST=`minikube ip`
export GOT_DB_PORT=`kubectl get svc got-postgresql -o jsonpath='{.spec.ports[0].nodePort}'`